/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/nbproject/private/
/src/Sebk/ProjektorBundle/Resources/public/app/dist/*
/src/Sebk/ProjektorBundle/Resources/public/app/node_modules/*