/**
 * This file is a part of SebkSmallUserBundle
 * Copyright 2015, 2016 - Sébastien Kus
 * Under GNU GPL V3 licence
 */

@import 'colors';

#login {
    margin-top: 100px;
    
    input {
        margin-top: 5px;
    }
    
    button {
        margin-top: 5px;
    }
}