<div class="container">
    <div class="row">
        <form id="login" class="col-xs-offset-4 col-xs-4" ng-submit="loginAction()">
            <h2>ProjeKtor</h2>
            <label for="inputEmail" class="sr-only">Login</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="Login" required autofocus ng-model="login" >
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="password">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <h3 class="margin-top-20 bg-danger padding-20 bordered-grey rounded" ng-if="error != ''">{{ error}}</div>
        </form>
    </div>
</div>