@charset "UTF-8";
/**
 * This file is a part of SebkSmallUserBundle
 * Copyright 2015, 2016 - Sébastien Kus
 * Under GNU GPL V3 licence
 */
/**
 * This file is a part of SebkSmallUserBundle
 * Copyright 2015, 2016 - Sébastien Kus
 * Under GNU GPL V3 licence
 */
#login {
  margin-top: 100px; }
  #login input {
    margin-top: 5px; }
  #login button {
    margin-top: 5px; }
