@charset "UTF-8";
/**
 * This file is a part of SebkSmallUserBundle
 * Copyright 2015, 2016 - Sébastien Kus
 * Under GNU GPL V3 licence
 */
.margin-top-20 {
  margin-top: 20px; }

.margin-top-10 {
  margin-top: 10px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-top-50 {
  margin-top: 50px; }
