@charset "UTF-8";
/**
 * This file is a part of SebkSmallUserBundle
 * Copyright 2015, 2016 - Sébastien Kus
 * Under GNU GPL V3 licence
 */
.title {
  color: #217022;
  background: #ffffff;
  padding: 5px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.75);
  border-radius: 10px; }
